In [1]:
import pandas as pd

**Center for Global Economic History**, http://www.cgeh.nl/data#conflict, use date=13.02.2021

**Conflicts and wars** 
Conflict Catalog (Violent Conflicts 1400 A.D. to the Present  in Different Regions of the World)

Authors: Peter Brecke
Contents: 3708 conflicts, data on parties, fatalities, date and duration.

**Notes regarding the Conflict Catalog**
Peter Brecke, 20 August 2012
The file “Conflict Catalog 18 vars” is an Excel (.xls) file and is also the version of the dataset I have sent to those who have asked for the Conflict Catalog.<br>
The file should be available at:http://www.cgeh.nl/institutions-hub<br>
A description of the Conflict Catalog can be found in a Peace Science Society conference paper available at:<br>
http://www.inta.gatech.edu/peter/PSS99_paper.html<br>
If you use the Conflict Catalog, please use that paper for a citation.<br>
It must be understood that the Conflict Catalog within that Excel file is an unfinished product. <br>
Taking into consideration the data I have in my office that is not yet in the Conflict Catalog, I can easily believe the catalog growing by 20% or more.<br>
There are certainly errors in the data, especially as we go back in time and into particular regions of the world.<br>
I have strived mightily to make these data as correct and accurate as I can, but there are undoubtedly errors of some form or other in the file.<br>
I tried to eliminate errors and resolve inconsistencies by comparing as many sources as I could find for every datapoint in the file.<br>
I believe the number of mistakes in terms of typos is quite small.<br>
Within the Name field, conflicts between political entities possessing effective sovereignty (as opposed to sovereignty recognized by others) over different territories
are demarcated by a hyphen between the sets of protagonists, those who deploy fighting forces.<br>
These are effectively interstate wars. I, whenever possible, designated the initiator by placing it first in the list of participants.<br>
Conflicts primarily within a political entity possessing effective sovereignty, namely primarily between a state and some set of sub-national actors, have the sub-national
actors in parentheses following the state name.<br>
These include overthrow rebellions and separatist rebellions as well as other types of domestic political conflict.<br>
Start and end dates go to the precision of which day when possible.<br>
In some instances my dates differ from most sources. I will stand behind my dates. They were the best I could do using as a consistent rule for the starting and ending dates that those are the
dates when the weapons begin to clash and when they cease.<br>
Fatalities (not casualties) are distinguished in terms of military, civilian, and total.<br>
"Military fatalities" is best thought of as soldiers killed in battles.<br>
"Total fatalities"encompasses everyone.<br>
The military fatalities estimates, I hope, are reasonably close to being just soldiers, but I expect there are some civilians in the counts.<br>
The total fatalities estimates, I am sure, vary significantly in terms of the degree to which they include disease, starvation, etc.<br>
The Conflict Catalog contains a few examples of conflicts consisting of meta-wars and sub-wars. The examples of meta-wars containing sub-wars I can think of are the
Hundred Years War, the War of the Roses, the Dutch rebellion against Spain, the 30 Years War, the Napoleonic wars, WW1, and WW2. <br>
For each, if I could discern fatalities for a sub-war, I would put that information into the Conflict Catalog.<br>
The data can be sorted by region. The regions are specified in the online paper.<br>
The file effectively contains the following information:<br>
- Who fought<br>
- Who was on each side in > 2 participant conflicts (separated by hyphens)<br>
- Who initiated (first actor to left of hyphen) (done wherever possible)<br>
- Year started<br>
- Month started (when possible)<br>
- Day started (when possible)<br>
- Year ended<br>
- Month ended (when possible)<br>
- Day ended (when possible)<br>
- Location (when possible)<br>
- Common name of conflict<br>
- Number of military fatalities (when possible)<br>
- Total number of fatalities (when possible)<br>
- Number of significant political actors (not number of combatants in terms of number of soldiers)<br>
The reason for the 1400 start date is that was Evan Luard's start date, and his conflict compilation was the one that formed the real starting point for my effort.<br>
My experience has been that for areas of the world other than Europe, China, Japan, and to a degree
India, attempting to go earlier than 1400 runs into a big drop-off in availability of data.<br>
The historical record I have found simply picks up only the big wars, if any.<br>
I have a dataset of European conflicts from 900-1399 that extends the Conflict Catalog back for regions 3 and 4 (West and East Europe).<br>
While quite extensive (1127 conflicts), it is also not a finished product.<br>
I have from separate work capabilities data for 14 countries going back as far as to 1494, but they have not been integrated here for calculating a ratio of capabilities.<br>
I also have population data that would enable calculation of weighted fatalities, as well as fatality concentration and fatality density variables, but they too have not been
integrated into the conflict catalog.<br>
There are more conflicts for which I have fatalities data, but they have not been integrated either.<br>

In [9]:
concat = pd.read_excel("http://www.cgeh.nl/sites/default/files/Conflict%20Catalog%2018%20vars.xls")

In [10]:
concat.head()

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
0,NaN,"England (Henry IV vs Richard II), 1400",NaN,2.0,NaN,NaN,1400,1.0,NaN,1400.0,2.0,NaN,3,1,140,NaN,1.0,0.0
1,NaN,"England-Scotland, 1400-02",NaN,2.0,NaN,NaN,1400,NaN,NaN,1402.0,NaN,NaN,3,1,140,NaN,NaN,2.0
2,NaN,"Mongols (Timur)-Georgia, 1400",NaN,2.0,NaN,NaN,1400,NaN,NaN,1400.0,NaN,NaN,4,1,140,NaN,NaN,0.0
3,NaN,"Mongols (Timur)-Turkey, 1400",NaN,2.0,NaN,NaN,1400,8.0,NaN,1400.0,9.0,NaN,4,1,140,NaN,1.0,0.0
4,NaN,"Mongols (Timur)-Egypt, Syria (Burji Mamluks), ...",NaN,3.0,NaN,NaN,1400,10.0,NaN,1401.0,2.0,NaN,5,1,140,NaN,4.0,1.0

In [11]:
concat.columns

Index(['Common Name', 'Name', 'CountryCode', 'NumberActors', 'MilFatalities',
       'TotalFatalities', 'StartYear', 'StartMonth', 'StartDay', 'EndYear',
       'EndMonth', 'EndDay', 'Region', 'Century', 'Decade', 'DurationD',
       'DurationM', 'DurationY'],
      dtype='object')

In [12]:
concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3708 entries, 0 to 3707
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Common Name      885 non-null    object
 1   Name             3708 non-null   object
 2   CountryCode      334 non-null    float64
 3   NumberActors     3664 non-null   float64
 4   MilFatalities    411 non-null    float64
 5   TotalFatalities  1216 non-null   float64
 6   StartYear        3708 non-null   int64
 7   StartMonth       1539 non-null   float64
 8   StartDay         762 non-null    float64
 9   EndYear          3682 non-null   float64
 10  EndMonth         1566 non-null   float64
 11  EndDay           832 non-null    float64
 12  Region           3708 non-null   int64
 13  Century          3708 non-null   int64
 14  Decade           3708 non-null   int64
 15  DurationD        567 non-null    float64
 16  DurationM        1364 non-null   float64
 17  DurationY        3682 non-null   float64
dtypes: float64(12), int64(4), object(2)
memory usage: 521.6+ KB

In [22]:
concat.Name.value_counts()

Germany, 1919                     2
France, 1675                      2
(Guinea-Bissau), 1853             2
England, 1685                     2
China (Gansu, Liaoning), 1495     2
                                 ..
England-Scotland, 1480            1
Britain, France-China, 1856-60    1
Spain (Catalonia), 1934           1
China (Liaodong), 1430            1
China (Sichuan), 1467-68          1
Name: Name, Length: 3703, dtype: int64

In [24]:
concat["Name"].str.contains("World").value_counts()

False    3707
True        1
Name: Name, dtype: int64

In [25]:
concat[concat["Name"].str.contains("World")]

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
3035,First World War,"First World War, 1914-18",NaN,20.0,12599000.0,19617000.0,1914,7.0,29.0,1918.0,11.0,11.0,3,6,191,1542.0,52.0,4.0

In [29]:
concat[concat["Name"].str.contains("Gallipoli")]

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
3040,NaN,"Britain, Australia, France-Turkey (Gallipoli),...",NaN,4.0,NaN,NaN,1915,2.0,NaN,1915.0,12.0,NaN,4,6,191,NaN,10.0,0.0

In [32]:
concat[(concat.StartYear > 1914) & (concat.StartYear < 1918)]

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
3039,NaN,"Haiti (with US intervention), 1915-16",NaN,3.0,NaN,2200.0,1915,7.0,NaN,1916.0,11.0,NaN,1,6,191,NaN,16.0,1.0
3040,NaN,"Britain, Australia, France-Turkey (Gallipoli),...",NaN,4.0,NaN,NaN,1915,2.0,NaN,1915.0,12.0,NaN,4,6,191,NaN,10.0,0.0
3041,NaN,"Turkey-Armenia, 1915-18",NaN,2.0,NaN,1200000.0,1915,4.0,20.0,1918.0,NaN,NaN,4,6,191,NaN,NaN,3.0
3042,NaN,"France-Sanusis (Chad), 1915-19",NaN,2.0,NaN,NaN,1915,3.0,24.0,1919.0,5.0,NaN,6,6,191,NaN,50.0,4.0
3043,NaN,"Mali-France (Beledougou, near Bamako), 1915",NaN,2.0,NaN,NaN,1915,3.0,NaN,1915.0,3.0,NaN,7,6,191,NaN,0.0,0.0
3044,NaN,"Benin-France, 1915-16",NaN,2.0,NaN,NaN,1915,8.0,22.0,1916.0,2.0,NaN,7,6,191,NaN,6.0,1.0
3045,NaN,"France-Samori (Burkina Faso), 1915",NaN,2.0,NaN,NaN,1915,11.0,NaN,1915.0,11.0,NaN,7,6,191,NaN,0.0,0.0
3046,NaN,"Belgium-Belgian Congo, 1915",NaN,2.0,NaN,NaN,1915,NaN,NaN,1915.0,NaN,NaN,7,6,191,NaN,NaN,0.0
3047,NaN,"Malawi-Britain, 1915",NaN,NaN,NaN,NaN,1915,1.0,23.0,1915.0,2.0,3.0,8,6,191,10.0,1.0,0.0
3048,NaN,"China (Yunnan), 1915-16",NaN,2.0,NaN,NaN,1915,11.0,25.0,1916.0,6.0,6.0,12,6,191,191.0,7.0,1.0
3049,NaN,"Britain-Sri Lanka, 1915",NaN,2.0,NaN,NaN,1915,NaN,NaN,1915.0,NaN,NaN,10,6,191,NaN,NaN,0.0
3050,NaN,"Dominican Republic, 1916",NaN,2.0,NaN,NaN,1916,NaN,NaN,1916.0,NaN,NaN,1,6,191,NaN,NaN,0.0
3051,Anglo-Irish Civil War,"Britain-Ireland, 1916",NaN,2.0,NaN,NaN,1916,4.0,24.0,1916.0,4.0,29.0,3,6,191,5.0,0.0,0.0
3052,NaN,"Arabs-? (Hijaz, Saudi Arabia), 1916",NaN,NaN,NaN,NaN,1916,6.0,NaN,1916.0,NaN,NaN,5,6,191,NaN,NaN,0.0
3053,NaN,"France-Chief Kaossen (Mauritania), 1916-17",NaN,2.0,NaN,NaN,1916,NaN,NaN,1917.0,NaN,NaN,6,6,191,NaN,NaN,1.0
3054,Second Moroccan War,"France, Spain-Caids (Morocco), 1916-17",NaN,3.0,2000.0,2000.0,1916,11.0,NaN,1917.0,NaN,NaN,6,6,191,NaN,NaN,1.0
3055,NaN,"Samori-France (Koutiala and Bandiagara, Mali),...",NaN,2.0,NaN,NaN,1916,2.0,NaN,1916.0,2.0,NaN,7,6,191,NaN,0.0,0.0
3056,NaN,"Nikki-France (Borgou, Benin), 1916",NaN,2.0,NaN,NaN,1916,NaN,NaN,1916.0,NaN,NaN,7,6,191,NaN,NaN,0.0
3057,NaN,"Ethiopia, 1916",NaN,2.0,NaN,NaN,1916,9.0,NaN,1916.0,11.0,2.0,8,6,191,NaN,2.0,0.0
3058,NaN,Russia-Turkestan 1916,NaN,2.0,NaN,9000.0,1916,NaN,NaN,1916.0,NaN,NaN,9,6,191,NaN,NaN,0.0
3059,NaN,"Kirghiz-Russia, 1916",NaN,2.0,NaN,NaN,1916,NaN,NaN,1916.0,NaN,NaN,9,6,191,NaN,NaN,0.0
3060,NaN,"Japan-China (Jilin), 1916",NaN,2.0,NaN,NaN,1916,8.0,13.0,1916.0,8.0,13.0,12,6,191,0.0,0.0,0.0
3061,NaN,"Dominican Republic-USA, 1917-18",NaN,2.0,NaN,NaN,1917,NaN,NaN,1918.0,NaN,NaN,1,6,191,NaN,NaN,1.0
3062,NaN,"Cuba, 1917",NaN,2.0,NaN,NaN,1917,2.0,10.0,1917.0,6.0,NaN,1,6,191,NaN,4.0,0.0
3063,February Revolution (Bolshevik Revolution),"Russia (St. Petersburg), 1917",NaN,2.0,NaN,NaN,1917,3.0,8.0,1917.0,3.0,15.0,4,6,191,7.0,0.0,0.0
3064,NaN,"Russia (Petrograd), 1917",NaN,3.0,NaN,400.0,1917,7.0,16.0,1917.0,7.0,18.0,4,6,191,2.0,0.0,0.0
3065,Kornilov's Revolt (Bolshevik Revolution),"Russia, 1917",NaN,2.0,NaN,NaN,1917,9.0,9.0,1917.0,9.0,14.0,4,6,191,5.0,0.0,0.0
3066,October Revolution (Bolshevik Revolution),"Russia, 1917",NaN,2.0,NaN,10000.0,1917,11.0,6.0,1917.0,11.0,7.0,4,6,191,1.0,0.0,0.0
3067,The Great Russian Civil War,"Russia, 1917-21",NaN,2.0,300000.0,700000.0,1917,12.0,9.0,1921.0,3.0,18.0,4,6,191,1179.0,39.0,4.0
3068,NaN,"Russia (Irkutsk), 1917",NaN,2.0,NaN,NaN,1917,12.0,NaN,1917.0,12.0,NaN,9,6,191,NaN,0.0,0.0
3069,NaN,"Russia (Ukraine), 1917-20",NaN,2.0,NaN,NaN,1917,12.0,9.0,1920.0,11.0,14.0,4,6,191,1055.0,35.0,3.0
3070,Estonian War of Independence,"Estonia-Russia, 1917-20",NaN,2.0,NaN,NaN,1917,11.0,28.0,1920.0,2.0,2.0,4,6,191,784.0,27.0,3.0
3071,NaN,"Ivory Coast (Dida)-France, 1917-18",NaN,2.0,NaN,NaN,1917,12.0,NaN,1918.0,8.0,NaN,7,6,191,NaN,8.0,1.0
3072,NaN,"Portuguese Guinea-Portugal (Bijagos Islands), ...",NaN,2.0,NaN,NaN,1917,5.0,NaN,1917.0,5.0,NaN,7,6,191,NaN,0.0,0.0
3073,NaN,"Portugal?-? (Barue, ?), 1917",NaN,NaN,NaN,NaN,1917,NaN,NaN,1917.0,NaN,NaN,8,6,191,NaN,NaN,0.0
3074,Yunnan Rebellion,"China (Yunnan), 1917",NaN,2.0,1000.0,1500.0,1917,4.0,18.0,1917.0,4.0,25.0,12,6,191,7.0,0.0,0.0
3075,NaN,"China (Kweichow), 1917-18",NaN,2.0,NaN,NaN,1917,7.0,6.0,1918.0,3.0,NaN,12,6,191,NaN,8.0,1.0

In [33]:
concat[concat.Name.str.find("Italy", start =0)==0]

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
1261,Spanish-Savoian War,"Italy (Venice?)-Spain, 1613-17",NaN,2.0,NaN,2000.0,1613,NaN,NaN,1617.0,NaN,NaN,3,3,161,NaN,NaN,4.0
2294,NaN,"Italy (revolts in Modena, Parma and Papal Stat...",NaN,4.0,NaN,100.0,1831,2.0,3.0,1834.0,NaN,NaN,3,5,183,NaN,NaN,3.0
2411,Italian Revolution of 1848-49 (Venetian war),"Italy-Austria, France, Spain, 1848-49",NaN,4.0,NaN,19200.0,1848,1.0,12.0,1849.0,8.0,28.0,3,5,184,586.0,19.0,1.0
2520,Italian Unification War,"Italy, 1859-61",NaN,2.0,17500.0,17500.0,1859,7.0,11.0,1860.0,NaN,NaN,3,5,185,NaN,NaN,1.0
2546,Expedition to Calabria,"Italy (Garibaldians), 1862",NaN,2.0,NaN,400.0,1862,NaN,NaN,1862.0,8.0,29.0,3,5,186,NaN,NaN,0.0
2592,NaN,"Italy-Austria, 1866",NaN,2.0,8000.0,8000.0,1866,6.0,20.0,1866.0,8.0,12.0,3,5,186,52.0,2.0,0.0
2631,Occupation of Papal States,"Italy-Papal States, 1870",NaN,2.0,NaN,600.0,1870,7.0,NaN,1870.0,9.0,20.0,3,5,187,NaN,2.0,0.0
2732,NaN,"Italy-Eritrea, 1882-89",NaN,2.0,NaN,500.0,1882,NaN,NaN,1889.0,5.0,NaN,8,5,188,NaN,NaN,7.0
2778,First Italo-Ethiopian War,"Italy-Ethiopia, 1887-88",NaN,2.0,1000.0,1000.0,1887,1.0,NaN,1888.0,NaN,NaN,8,5,188,NaN,NaN,1.0
2779,NaN,"Italy-Somalis, 1887-89",NaN,2.0,NaN,NaN,1887,NaN,NaN,1889.0,NaN,NaN,8,5,188,NaN,NaN,2.0
2833,Abyssinian War,"Italy-Ethiopia, Sudan, 1894-96",NaN,2.0,19000.0,19000.0,1894,7.0,17.0,1896.0,10.0,21.0,8,5,189,814.0,27.0,2.0
2881,NaN,"Italy, 1898",NaN,2.0,NaN,NaN,1898,5.0,3.0,1898.0,5.0,8.0,3,5,189,5.0,0.0,0.0
3003,Italo-Turkish War,"Italy-Turkey (Libya), 1911-12",NaN,2.0,20000.0,20000.0,1911,9.0,29.0,1912.0,10.0,17.0,6,6,191,378.0,13.0,1.0
3130,NaN,"Italy, 1922",NaN,2.0,NaN,NaN,1922,7.0,31.0,1922.0,10.0,28.0,3,6,192,87.0,3.0,0.0
3140,Corfu Incident,"Italy-Greece, 1923",NaN,2.0,NaN,NaN,1923,8.0,27.0,1923.0,9.0,27.0,4,6,192,30.0,1.0,0.0
3219,NaN,"Italy-Ethiopia (Ualual), 1934",NaN,2.0,130.0,130.0,1934,12.0,5.0,1934.0,12.0,5.0,8,6,193,0.0,0.0,0.0
3220,Ethiopian War,"Italy-Ethiopia, 1935-37",NaN,2.0,50000.0,250000.0,1935,10.0,3.0,1937.0,10.0,NaN,8,6,193,NaN,24.0,2.0
3245,NaN,"Italy-Albania, 1939",NaN,2.0,NaN,NaN,1939,4.0,7.0,1939.0,4.0,14.0,4,6,193,7.0,0.0,0.0
3253,NaN,"Italy-Britain (Ethiopia and Somaliland), 1940-41",NaN,2.0,NaN,NaN,1940,NaN,NaN,1941.0,5.0,20.0,8,6,194,NaN,NaN,1.0

In [34]:
concat[concat['Name'].str.contains('Napoleon', regex=False)]

,Common Name,Name,CountryCode,NumberActors,MilFatalities,TotalFatalities,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,Region,Century,Decade,DurationD,DurationM,DurationY
2094,Napoleonic Wars,"Napoleonic Wars, 1803-15",NaN,NaN,1863000.0,4425000.0,1803,5.0,16.0,1815.0,6.0,18.0,3,5,180,4352.0,145.0,12.0