In [1]:
import pandas as pd

In [73]:
df = pd.read_excel("D:/github/PhD/NumsWars.xlsx", sheet_name="Figure 1-7")

In [74]:
df.head()

,"Selected Battle Statistics, 1805-1973",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Battle,Date,Attacker*,Strength,Defender*,Strength,A/D,V/L
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67

In [75]:
df.columns

Index(['Selected Battle Statistics, 1805-1973', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [76]:
df.loc[0, :][0:7].to_list()

['Battle', 'Date', 'Attacker*', 'Strength', 'Defender*', 'Strength', 'A/D']

In [77]:
df.rename(columns=df.loc[0, :][0:8], inplace=True)
df.head()

       Battle  Date  Attacker*  Strength  Defender*  Strength   A/D   V/L
0      Battle  Date  Attacker*  Strength  Defender*  Strength   A/D   V/L
1  Austerlitz  1805     FRENCH     75000     Allies     89000  0.84  0.84
2   Auerstadt  1806  Prussians     50000     FRENCH     30000  1.67   0.6
3    Borodino  1812     FRENCH    130000   Russians    120000  1.08  1.08
4     Dresden  1813     FRENCH    100000     Allies    150000  0.67  0.67

In [78]:
df.columns

Index(['Battle', 'Date', 'Attacker*', 'Strength', 'Defender*', 'Strength',
       'A/D', 'V/L'],
      dtype='object')

In [79]:
df.columns= ['Battle', 'Date', 'Attacker*', 'Strength_Att', 'Defender*', 'Strength_Def',
       'A/D', 'V/L']

In [80]:
df.head()

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,A/D,V/L
0,Battle,Date,Attacker*,Strength,Defender*,Strength,A/D,V/L
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67

In [81]:
df.drop(axis=0, index=0, inplace=True)
df.head()

       Battle  Date  Attacker* Strength_Att Defender* Strength_Def   A/D   V/L
1  Austerlitz  1805     FRENCH        75000    Allies        89000  0.84  0.84
2   Auerstadt  1806  Prussians        50000    FRENCH        30000  1.67   0.6
3    Borodino  1812     FRENCH       130000  Russians       120000  1.08  1.08
4     Dresden  1813     FRENCH       100000    Allies       150000  0.67  0.67
5     Leipzig  1813     ALLIES       300000    French       180000  1.67  1.67

In [82]:
len(df.index)

49

In [83]:
df = df.dropna()

In [84]:
df.dtypes

Battle          object
Date            object
Attacker*       object
Strength_Att    object
Defender*       object
Strength_Def    object
A/D             object
V/L             object
dtype: object

In [85]:
import numpy as np
df[["Strength_Att", "Strength_Def"]] = df[["Strength_Att", "Strength_Def"]].astype(np.float).astype("Int64")

In [86]:
df.dtypes

Battle          object
Date            object
Attacker*       object
Strength_Att     Int64
Defender*       object
Strength_Def     Int64
A/D             object
V/L             object
dtype: object

In [90]:
df.at[8, "Strength_Def"] = 4594 # Battle of Buena Vista Wikipedia

In [92]:
df.head(10)

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,A/D,V/L
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67
5,Leipzig,1813,ALLIES,300000,French,180000,1.67,1.67
6,Ligny,1815,FRENCH,77000,Prussians,83000,0.93,0.93
7,Waterloo,1815,ALLIES,129000,French,72000,1.79,1.79
8,Buena Vista,1847,Mexicans,16000,AMERICANS,4594,3.2,0.31
9,Cerro Gordo,1847,AMERICANS,8500,Mexicans,12000,0.71,0.71
10,Shiloh,1862,Confederates,40335,UNION,62642,0.64,1.55

In [93]:
df["Att_to_Def"] = round(df["Strength_Att"]/ df["Strength_Def"], 2)

In [95]:
df.head(10)

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,A/D,V/L,Att_to_Def
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6,1.67
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67,0.67
5,Leipzig,1813,ALLIES,300000,French,180000,1.67,1.67,1.67
6,Ligny,1815,FRENCH,77000,Prussians,83000,0.93,0.93,0.93
7,Waterloo,1815,ALLIES,129000,French,72000,1.79,1.79,1.79
8,Buena Vista,1847,Mexicans,16000,AMERICANS,4594,3.2,0.31,3.48
9,Cerro Gordo,1847,AMERICANS,8500,Mexicans,12000,0.71,0.71,0.71
10,Shiloh,1862,Confederates,40335,UNION,62642,0.64,1.55,0.64

In [96]:
df.insert(6, column = "Victor", value = ["A", "D", "A", "A", "A", "A", "A", "D", "A", "D", "D", "D", "D", "D", "A", "D", "A", 
                                        "A", "A", "A", "A", "A", "D", "A", "D", "D", "A", "A", "A", "A", "A", "A", "A", "A", 
                                         "D", "D", "D", "A", "A", "A", "A", "A"])

In [98]:
df.head(10)

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,Victor,A/D,V/L,Att_to_Def
1,Austerlitz,1805,FRENCH,75000,Allies,89000,A,0.84,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,D,1.67,0.6,1.67
3,Borodino,1812,FRENCH,130000,Russians,120000,A,1.08,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,A,0.67,0.67,0.67
5,Leipzig,1813,ALLIES,300000,French,180000,A,1.67,1.67,1.67
6,Ligny,1815,FRENCH,77000,Prussians,83000,A,0.93,0.93,0.93
7,Waterloo,1815,ALLIES,129000,French,72000,A,1.79,1.79,1.79
8,Buena Vista,1847,Mexicans,16000,AMERICANS,4594,D,3.2,0.31,3.48
9,Cerro Gordo,1847,AMERICANS,8500,Mexicans,12000,A,0.71,0.71,0.71
10,Shiloh,1862,Confederates,40335,UNION,62642,D,0.64,1.55,0.64

In [99]:
print("In 42 battles,", df.Victor.value_counts()[0], " attackers were successful.")
print("In 42 battles,", df.Victor.value_counts()[1], " defenders were successful.")

In 42 battles, 28  attackers were successful.
In 42 battles, 14  defenders were successful.

In [113]:
print(len(df[df.Strength_Att < df.Strength_Def].Victor), "numerically inferior attackers;",
      df[df.Strength_Att < df.Strength_Def].Victor.value_counts()[0], "were successful.")

15 numerically inferior attackers; 13 were successful.

In [130]:
print(len(df[(df.Victor == "A") & (df.Strength_Att > df.Strength_Def) | 
             (df.Victor == "D") & (df.Strength_Att < df.Strength_Def)]), "victors were numerically superior.")

17 victors were numerically superior.

In [131]:
print(len(df[(df.Victor == "A") & (df.Strength_Att < df.Strength_Def) | 
       (df.Victor == "D") & (df.Strength_Att > df.Strength_Def)]), "victors were numerically inferior.")

25 victors were numerically inferior.